	<div class="update">
	<p/>
	<table>
		<tr><td>Device</td><td>${serviceName}</td></tr>
		<tr><td>Device Type</td><td>${modelId}</td></tr>
		<tr><td>Device Mode</td><td>${deviceMode}</td></tr>
		<tr><td>Device IP</td><td><a href="http://${deviceIp}" title="${deviceName}"target="_blank">${deviceIp}</a></td></tr>
		<tr><td>Device Hardware Rev</td><td>${deviceHwRev}</td></tr>
		<tr><td>WiFi</td><td>${wifiNetwork}</td></tr>
		<tr><td><p/></td></tr>
		<tr><td>Current firmware</td><td>${firmwareVersion}</td></tr>
		<tr><td>Requested version</td><td>${version}</td></tr>
		<tr><td>Update URL</td><td>${firmwareUrl}</td></tr>
	</table>
	<p/>
	
    <form>
        <p>Please select update source:</p>
        <input checked="checked" type="radio" name="source" id="internet" value="internet"/>
        <label for="internet">Download firmware directly from Internet</label><br/>
        <input type="radio" name="source" id="local" value="local"/>
        <label for="local">Use openHAB as proxy (device doesn't require Internet access)</label><br/>
         <input type="hidden" id="uid" name="uid" value="${uid}">
         <input type="hidden" id="version" name="version" value="${version}">
         <input type="hidden" id="update" name="update" value="yes">
        <p/>
        <button>Perform Device Update</button>
    </form>
    <p/>

	<p>
	${message}
	</p>
	</div>
	
	</div>
