    <div id="overview">
    <table class="devTable">
        <tr>
            <th>S</th>
            <th align="left">Name</th>
            <th align="left">Device IP</th>
            <th align="left">WiFi Network</th>
            <th >WiFi Signal</th>
            <th>Battery Level</th>
            <th align="left">Heartbeat</th>
            <th align="left">Actions</th>
            <th align="left">Firmware</th>
            <th>Update avail</th>
            <th align="left">Versions</th>
            <th>Uptime</th>
            <th>Update Period</th>
            <th>Events</th>
            <th>Last Event</th>
            <th>Event Time</th>
            <th>Unexpected Restarts</th>
            <th>Timeout Errors</th>
            <th>Timeouts Recovered</th>
            <th>Remaining Watchdog</th>
            <th>Internal Temp</th>
        </tr>
	    