    <div id=overview>
    <table class="devTable">
        <tr>
            <th>Name</th>
            <th>Device IP</th>
            <th>WiFi Network</th>
            <th>WiFi Signal</th>
            <th>Last Heartbeat</th>
            <th>Actions</th>
            <th>Firmware</th>
            <th>Update avail</th>
            <th>Versions</th>
            <th>Uptime</th>
            <th>Update Period</th>
            <th>Alarms</th>
            <th>Last Alarm</th>
            <th>Unexpected Restarts</th>
            <th>Timeout Errors</th>
            <th>Timeouts recovered</th>
            <th>Remaining Watchdog</th>
            <th>Device-internal Temp</th>
        </tr>
    </div>
	<hr/>
