    <div class="navigation">
        <table><tr><td>
            Device Filter&nbsp;
            <select name="thingFilter" id="thingFilter" onchange="location = '${uri}/overview?filter='+this.options[this.selectedIndex].value;">
                <option value="" selected disabled>select</option>
                <option value="*">All</option>
                <option value="active">Active only</option>
                <option value="attention">Need Attention</option>
                <option value="update">Update available</option>
                <option value="unprotected">Unprotected</option>
            </select>
            <a href="javascript:history.go(0)">
                <img src="${uri}/images/manager_refresh.png" alt="Refresh Devices Status"/>&nbsp;&nbsp;
            </a>
        </td></tr></table>
    </div>
    <hr/>
    
    <div class="overview">
    <table class="devTable">
        <tbody>
        <tr>
            <th>S</th>
            <th align="left">Name</th>
            <th align="left">Device IP</th>
            <th align="left">WiFi Network</th>
            <th >WiFi Signal</th>
            <th>Battery Level</th>
            <th align="left">Heartbeat</th>
            <th align="left">Actions</th>
            <th align="left">Firmware</th>
            <th>Update avail</th>
            <th align="left">Versions</th>
            <th>Uptime</th>
            <th>Internal Temp</th>
            <th>Update Period</th>
            <th>Remaining Watchdog</th>
            <th>Events</th>
            <th>Last Event</th>
            <th>Event Time</th>
            <th>Unexpected Restarts</th>
            <th>Timeout Errors</th>
            <th>Timeouts Recovered</th>
            <th>CoIOT Messages</th>
            <th>CoIOT Errors</th>
        </tr>
